body {
    background-color: #000000;
    color: #dcdcdc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
    line-height: 1.6;
}

h1 {
   color: #E10600; 
    font-style: italic;
    font-size: 2em;
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 10px;
}

hr {
    border: none;
    height: 2px;
    background-color: #ff0000;
    margin: 20px 0;
}

p {
    max-width: 800px;
    margin: 20px auto;
    text-align: justify;
    background-color: #111111;
    padding: 15px;
    border-left: 4px solid #E10600;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
    color: #dcdcdc;
}

footer {
    color:#E10600;
}
